* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #1B1F21;
}

h1 { font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #1B1F21;}

p {
  font-size: 14px;
  
}

.chat {
  display: flex;
  height: 80px;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 2px solid #BEC1BB;
}

.imagen_persona {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-size:cover;
  background-position:center;
  border: 2px solid #E8EBE4;
}

.sitio {
  display: flex;
  height: 100vh;
  width: 100%;
}

.contactos {
  width: 23vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.texto {
  margin-left: 1rem;
  flex: 2;
  overflow: hidden;

}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #BEC1BB;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background: #B1B3AF;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777974;
}

.chat1 {
  display: flex;
  height: 62px;
  padding: 0 2rem;
  align-items: center;
  border-bottom: 2px solid #BEC1BB;
}


.iconos {
    margin-left: auto; 
    color: #a7aaa4
  }

.texto1 {height: 40px;
    padding-left: 1rem;
      flex: 2;
      overflow: hidden;
    
    }

.ic {padding-left: 4px;}

.texto1 p{font-size: 10px;
    color: #a7aaa4}

.boton {height: 120px;
    border-bottom: 2px solid #BEC1BB;
    display: flex;
    align-items: center;
    justify-content: center;}

button {height: 45px;
    width: 150px;
    border: 0px;
    color: white;
    background-color: #A491D2;}

button:hover {background-color: #CDC3E6;}

button:active {background-color: #BEC1BB;}

.principal {display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:77vw;
    background-color: #e9e9e9;}

.principal h1{padding-top: 20px;
    text-align: center;}

.principal p {text-align: center;
    line-height: 1.7;}

.img0 {background-image: url("../img/maria.jpg");
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size:cover;
    background-position:center;
    border: 2px solid #E8EBE4;}

.img1 {background-image: url("../img/p1.jpg");}

.img2 {background-image: url("../img/p2.jpg");}

.img3 {background-image: url("../img/p3.jpg");}

.img4 {background-image: url("../img/p4.jpg");}

.img5 {background-image: url("../img/p5.jpg");}

.img6 {background-image: url("../img/p6.jpg");}

.img7 {background-image: url("../img/p7.jpg");}

.img8 {background-image: url("../img/p8.jpg");}